#plugin_dropfiles_uploadwidget {
    padding: 3em;
    background: white;
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top: 50%;

    .dropfiles_file_upload_bar {
        display: flex;
        justify-content: space-between;

        .filename {
            width: 30%;
        }

        progress {
            width: 65%;
        }
    }
}
